.lowerpart h1{
    font-family: 'Wayfinder CF';
    font-size: 90px;
    color: #050A30;
}

.lowerpart p {
    font-family: 'Hagrid-Regular-trial';
    font-size: 25px;
    text-align: justify;
    color: #050A30;
}

.volume p{
    font-family: 'Tafel Sans Pro';
    font-size: 30px;
    font-weight: 500;
}





/* page 2 design------------------------------------------  */
.upperpart h1{

            font-family: 'Wayfinder CF';
            font-size: 90px;
            color: #050A30;
    
}

.image3 img{
    width: 100%;
}

.boxes img{
    width: 100%;
    height: 100%;
}

.boxes h3{
    font-family: 'Hagrid-Regular-trial';
    padding: 10px 0;
}

.boxes p{
    font-weight: 400;
    font-size: 20px;
}

.boxes a{
    color: black;
}

.footer p{
    margin: 0;
}

.footer a{
    color: black;
}

/* pagethree design ------------------------------------------------ */

.pagethreeheader{
    font-family: 'Hagrid-Regular-trial';
}

.box1{
    width: 400px;
    height: 380px;
    /* margin: 0 auto; */
    background-image: url("images/image7.png");
    background-position: center 30%;
}
.box2{
    width: 400px;
    height: 380px;
    /* margin: 0 auto; */
    background-image: url("images/image8.png");
    background-position: center 52%;
}
.box3{
    width: 400px;
    height: 380px;
    /* margin: 0 auto; */
    background-image: url("images/image9.png");
    background-position: 60% 55%;
}
.box4{
    width: 450px;
    height: 380px;
    /* margin: 0 auto; */
    background-image: url("images/image10.png");
    background-position: center 30%;
}

.pagethree a{
    color: black;
}

.pagethree p{
    font-family: 'Hartwell Alt Regular';
    font-size: 22px;
}

.rows p{
    font-family: 'Hartwell Alt Regular';
    font-size: 22px;
    width: 75%;
}

.pagethreeheader h1{
    padding: 15px 0;
    font-size: 60px;
    font-family: 'Gaqire';
}
.rows h1{
    padding: 15px 0;
    font-family: 'Gaqire';
}



 /*------------------- tab view  ---------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px) {
.box1 {
    background-image: url("images/image7.png");
        width: 250px;
        height: 250px;
        background-position: center 20%;
        background-size: cover
    }

    .box2 {
        width: 250px;
        height: 250px;
        background-position: center 50%;
        background-size: cover
    }

    .box3 {
        width: 250px;
        height: 250px;
        background-position: center 50%;
        background-size: cover;
    }

    .box4 {
        width: 250px;
        height: 250px;
        background-position: center 20%;
        background-size: cover;
    }

    .rows p {
        font-family: 'Hartwell Alt Regular';
        font-size: 18px;
        width: 95%;
    }

    .rows h1 {
        font-size: 28px;
    }

    .pagethree p {
        font-size: 20px;
    }
 }



 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px) {
    .lowerpart h1{
        font-size: 50px;
    }

    .lowerpart p{
        font-size: 20px;
    }

    .upperpart h1 {

        font-size: 70px;

    }

    .pagethreeheader h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .box1 {
        width: 350px;
        height: 350px;
        background-position: center 20%;
        background-size: cover;
    }
    .box2 {
        width: 350px;
        height: 350px;
        background-position: center 20%;
        background-size: cover;
    }
    .box3 {
        width: 350px;
        height: 350px;
        background-position: center 20%;
        background-size: cover;
    }
    .box4 {
        width: 350px;
        height: 350px;
        background-position: center 20%;
        background-size: cover;
    }

        .rows p {
            font-family: 'Hartwell Alt Regular';
            font-size: 18px;
            width: 100%;
        }

    .pagethree p {
        font-family: 'Hartwell Alt Regular';
        font-size: 19px;
    }

    .rows h1{
        font-weight: bold;
    }
 }